name: Promote to Staging/Prod

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment'
        required: true
        type: choice
        options:
          - staging
          - prod
      image_tag:
        description: 'Image tag to promote'
        required: true

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          repository: surajdubey08/argocd-lab-gitops
          token: ${{ secrets.GITOPS_PAT }}

      - name: Update image tag in target environment
        run: |
          cd apps/web-frontend/overlays/${{ inputs.environment }}
          kustomize edit set image ghcr.io/surajdubey08/sample-app=ghcr.io/surajdubey08/sample-app:${{ inputs.image_tag }}
          cd ../../../..
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore(${{ inputs.environment }}): promote sample-app to ${{ inputs.image_tag }}"
          git push